<style>
    .connect4-table td {
        padding:15px;
        border:1px solid #000;
    }
    .connect4-table td.user_0 {
        background:#C00;
    }
    .connect4-table td.user_1 {
        background:#0C0;
    }

</style>

<template>
    <div class="row">
        <div class="col-lg-6">
            <h3>Connect 4</h3>
            <p>
                Gestart door: {{ game.creator.name }}<br>
                Status: {{ game.game_status.status }}<br>
                Laatste zet: {{ game.updated_at }}<br>
                Gebruikers: {{ userList() | json }}<br />
                <b v-if="game.error">{{ game.error }}</b><br>
                <b v-if="game.game_status.winner">Winnaar: {{ game.game_status.winner.name }}</b>
            </p>
        </div>
        <div class="col-lg-6">
            <table class="connect4-table">
                <tr v-for="(rowNum, row) in game.game_status.fields" track-by="$index">
                    <td v-for="(colNum, col) in row" :class="getClass(col)" @click="selectBox(rowNum, colNum)" track-by="$index">{{ col }}</td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script type="text/babel">

    export default {
        props: ['game'],
        methods: {
            selectBox: function(rowNum, colNum) {
                var self = this;
                $.post('games/' + this.game.id, {_token: token, row: rowNum, column: colNum}, function(game){
                    self.$set('game', game);
                }, 'json');
            },
            userList: function() {
                return $.map(this.game.game_status.users, function(o) { return o["name"]; });
            },
            getClass: function(value) {
                if(!value) return "";
                return "user_"+ (value % 2);
            }
        }
    }

</script>