<style>
    pre.word {
        font-size:20px;
        text-align:center;
    }
    #keyboard div {
        border:1px solid #000;
        width:30px;
        text-align:center;
        margin:5px;
        float:left;
    }
    #keyboard div:hover{
        cursor:pointer;
    }
    #keyboard div.active {
        background:#CCC;
    }
    @media (min-width: 480px) {
        #keyboard div:nth-child(11){
            clear:left;
            margin-left:20px;
        }
        #keyboard div:nth-child(20) {
            clear:left;
            margin-left:40px;
        }
    }
</style>

<template>
    <div class="col-sm-3">
        <img :src="image()" class="img-responsive">
    </div>
    <div class="col-sm-9">
        <h3>HANGMAN</h3>
        <p>
            Gestart door: {{ game.creator.name }}<br>
            Status: {{ game.game_status.status }}<br>
            Laatste zet: {{ game.updated_at }}<br>
            Beurten over: {{ game.game_status.tries_left }}<br>
            Gebruikers: {{ userList() | json }}<br />
            Letters: {{ game.game_status.characters | json }}<br />
            <b v-if="game.error">{{ game.error }}</b>
        </p>
        <pre class="word">{{ game.game_status.word }}</pre>
        <div id="keyboard">
            <div v-for="key in keyboard" :class="{active: isCharacterUsed(key)}" @click="guess(key)">{{ key }}</div>
        <br style="clear:both;" />
    </div>
    </div>
</template>

<script type="text/babel">

    export default {
        props: ['game'],
        ready: function() {
            var self = this;
            window.addEventListener("keyup", function(e){
                if (e.keyCode < 65 || e.keyCode > 90) {
                    return false;
                }
                var char = String.fromCharCode(e.keyCode);
                self.guess( char );
            }, false);
        },
        data: function() {
            return {
                keyboard: 'qwertyuiopasdfghjklzxcvbnm'.split('')
            }
        },
        methods: {
            image: function() {
                var step = 11 - parseInt(this.game.game_status.tries_left);
                return "images/HangMan/"+ step +".png";
            },
            isCharacterUsed: function(key) {
                return this.game.game_status.characters.indexOf(key) > -1;
            },
            guess: function(key) {
                var self = this;
                $.post('games/' + this.game.id, {_token: token, character: key}, function(game){
                    self.$set('game', game);
                }, 'json');
            },
            guessKey: function(e) {
                console.log(e);
            },
            userList: function() {
                return $.map(this.game.game_status.users, function(o) { return o["name"]; });
            }
        }
    }

</script>