<style>
    .field {
        empty-cells:show;
        border-collapse: separate;
    }
    .field td {
        width:25px;
        height:25px;
        text-align: center;
    }
    .field td div{
        height:100%;
    }
    div.safe {
        background:#0C0;
    }
    div.mine {
        background:#C00;
    }
    div.unchecked {
        background:#CCC;
    }
</style>

<template>
    <div class="row">
        <div class="col-lg-6">
            <h3>MineSweeper</h3>
            <p>
                Gestart door: {{ game.creator.name }}<br>
                Status: {{ game.game_status.status }}<br>
                Laatste zet: {{ game.updated_at }}<br>
                Gebruikers: {{ userList() | json }}<br />
                <b v-if="game.error">{{ game.error }}</b><br>
                <b v-if="game.game_status.winner">Winnaar: {{ game.game_status.winner.name }}</b>
            </p>
        </div>
        <div class="col-lg-6">
            <table class="field" border="1">
                <tr v-for="(rowNum, row) in game.game_status.map" track-by="$index">
                    <td v-for="(colNum, col) in row" @click="selectBox(rowNum, colNum)" track-by="$index">
                        <div v-if="col !== true" :class="{safe: col !== null, unchecked: col === null }">{{ col }}</div>
                        <template v-else>
                            <div v-if="game.game_status.status == 'fail'" class="mine">B</div>
                            <div v-else class="unchecked">&nbsp;</div>
                        </template>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script type="text/babel">

    export default {
        props: ['game'],
        methods: {
            selectBox: function(rowNum, colNum) {
                this.$parent.act({row: rowNum, column: colNum});
            },
            userList: function() {
                return $.map(this.game.game_status.users, function(o) { return o["name"]; });
            }
        }
    }

</script>