<style>
    #questions .false {
        background:#C00;
    }
    #questions .true {
        background:#0C0;
    }
</style>

<template>
    <div class="row">
        <div class="col-lg-6">
            <h3>Quiz</h3>

            <p>
                Gestart door: {{ game.creator.name }}<br>
                Status: {{ game.game_status.status }}<br>
                Laatste zet: {{ game.updated_at }}<br>
                Gebruikers: {{ userList() | json }}<br/>
                <div v-if="isQuizMaster()">
                    Het woord is: <b><u>{{ game.game_status.word }}</u></b>
                </div>
                <b v-if="game.error">{{ game.error }}</b><br>
                <b v-if="game.game_status.winner">Winnaar: {{ game.game_status.winner.name }}</b>
            </p>
        </div>
        <div class="col-lg-6">
            <div v-if="isQuizMaster()">
                <a href="#" @click="answer(1)" class="btn btn-success">JA</a>
                |
                <a href="#" @click="answer(0)" class="btn btn-danger">NEE</a>
                |
                <a href="#" @click="gameStatus('success')" class="btn btn-primary pull-right">GEWONNEN</a>
                <a href="#" @click="gameStatus('fail')" class="btn btn-danger pull-right">VERLOREN</a>
            </div>
            <div v-else>
                <input type="text" v-model="question">
                <input type="button" @click="ask()" value="Vraag" v-show=" game.game_status.status == 'busy'">
            </div>
            <div id="questions">
                <div v-for="question in game.game_status.questions | orderBy 'answer'" class="row">
                    <div :class="{true: question.answer == 'true', false: question.answer == 'false'}">
                        {{ question.question }} : {{ question.answer }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">

    export default {
        props: ['game'],
        data: function(){
            return {
                question: ''
            }
        },
        methods: {
            ask: function () {
                var self = this;
                if(!this.question) {
                    return false;
                }
                $.post('games/' + this.game.id, {_token: token, question: this.question}, function(game){
                    self.question = '';
                    self.$set('game', game);
                }, 'json');
            },
            answer: function (value) {
                var self = this;
                value = value == 1;
                $.post('games/' + this.game.id, {_token: token, answer: value}, function(game){
                    self.$set('game', game);
                }, 'json');
            },
            gameStatus: function (status) {
                var self = this;
                $.post('games/' + this.game.id, {_token: token, answer: status}, function(game){
                    self.$set('game', game);
                }, 'json');
            },
            userList: function () {
                return $.map(this.game.game_status.users, function (o) {
                    return o["name"];
                });
            },
            isQuizMaster: function (){
                console.log();
                return this.game.game_status.quiz_master.id == user.id;
            }
        }
    }

</script>